/* System variables */
:root {
	--background: #fffff7;
	--foreground: #333;
	--color-primary: #a5987c;
	--color-primary-hover: #91866e;
	--color-primary-light: #d1cbb9;
	--color-secondary: #fffff7;
	--color-secondary-hover: #f8f8f0;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--background: #333;
		--foreground: #fffff7;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-courier-prime);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.3;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: var(--foreground);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
